body {
  background-color: lightgrey;
}

/* registration page  body section */
.headReg {
  padding-top: 10%;
  font-weight: 400;
}
.headReg {
  font-weight: 400;
}


/* title section */
.login-wrap {
  background: #fff;
  border-radius: 10px;
}

.logBox {
  padding-top: 10%;
}


/* log in details section */
.input-group {
  margin-bottom: 1rem;
}

/* checkbox section */
.reg-Button {
  text-align: right;
}

.sign-Button {
  text-align: right;
}

.buttonCheck {
  margin-bottom: 1rem;
}
